/*.education-tabs-animate > .tab-content {
    position: absolute;
}

.education-tabs-animate > .tab-content > .tab-pane {
    -moz-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.education-tabs-animate > .tab-content > .tab-pane.active-remove {
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
}

.education-tabs-animate > .tab-content > .tab-pane.active-remove-active {
    position: absolute;
    opacity: 0;
}

.education-tabs-animate > .tab-content > .tab-pane.active-add {
    position: absolute;
    opacity: 0;
}*/

.education-tabs-animate > .tab-content {
    position: relative;
}

    .education-tabs-animate > .tab-content > .tab-pane {
        -moz-transition: all linear 1s;
        -o-transition: all linear 1s;
        -webkit-transition: all linear 1s;
        transition: all linear 1s;
    }

        .education-tabs-animate > .tab-content > .tab-pane.active-remove {
            position: relative;
            top: 0;
            width: 100%;
            display: block;
        }

        .education-tabs-animate > .tab-content > .tab-pane.active-remove-active {
            opacity: 0;
        }
        
        .education-tabs-animate > .tab-content > .tab-pane.active-add {
            opacity: 0;
        }

.nav-tabs > li > a {
    background-color: rgba(255, 255, 255, 0.6) !important;
}

.nav-tabs > li.active > a {
    background-color: rgb(255, 255, 255) !important;
}

.panel { 
    background-color: rgba(255, 255, 255, 0.6) !important;
}