<div class="container">
    <div class="well container container-color-bg">
        <h2>Contact me at</h2>
        <div>
            <div>
                <div class="col-md-2" style="padding-left:0px">Email:</div>
                <div class="col-md-10">
                    <a href="mailto:zielinski.w.t@gmail.com">zielinski.w.t@gmail.com</a>
                </div>
            </div>
            <div>
                <div class="col-md-2" style="padding-left:0px">Facebook:</div>
                <div class="col-md-10">
                    <a href="https://www.facebook.com/zielinskiwt">zielinskiwt</a>
                </div>
            </div>
        </div>
    </div>
    <div class="well container container-color-bg">
        <h2>About Me</h2>
        <div class="container">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis tincidunt leo eu semper. Nullam ac sodales justo.
            Proin suscipit sed elit vitae mattis. Vestibulum lobortis est nisl, ac viverra leo congue sed. Vivamus tempor, est ac ultrices
            vehicula, lacus velit maximus dolor, vel faucibus eros ante ac nulla. Etiam a felis erat. Vestibulum id urna eget eros vehicula
            aliquet. Sed dignissim id odio a pharetra. Integer non turpis id metus congue tincidunt nec vitae risus. Proin id pellentesque libero.
            Integer varius orci orci, eget molestie erat pulvinar ut. Suspendisse laoreet in turpis a commodo. Mauris elementum turpis in bibendum elementum.
            Aenean mollis dictum nisl, nec venenatis ipsum dapibus laoreet. Curabitur ac lectus metus.
        </div>
    </div>
</div>
