<div class="well container">
    <div class="container col-xs-12">
        <h2>Contact me at</h2>
        <div ng-repeat="contactInfo in contactInfos">
            <a class="col-xs-12 col-sm-2" href="{{contactInfo.contactUrl}}" target="_blank"><img src="{{contactInfo.thumbnailUrl}}"/> {{contactInfo.name}}</a>
            <span class="col-xs-12 col-sm-10">{{contactInfo.contactUrl}}</span>
        </div>
    </div>
    <div class="container col-xs-12">
        <h2>About Me</h2>
        <div>{{aboutMe}}</div>
    </div>
</div>