<div class="well container">
    <div class="container col-xs-12">
        <h2>Contact me at</h2>
        <div>
            <a class="col-md-2" href="mailto:zielinskiwt@outlook.com" target="_blank" style="text-decoration:none;"><span color:#0783B6;"><img src="http://www.taxertravel.pl/images/mail.png" width="16" height="16" alt="Facebook" style="vertical-align:middle;" border="0">&nbsp; E-mail</span></a>
            <span class="col-md-10">zielinskiwt@outlook.com</span>
        </div>
        <div>
            <a class="col-md-2" href="https://www.facebook.com/zielinskiwt" target="_blank" style="text-decoration:none;"><span color:#0783B6;"><img src="https://static.xx.fbcdn.net/rsrc.php/yV/r/hzMapiNYYpW.ico" width="16" height="16" style="vertical-align:middle;" border="0">&nbsp; Facebook</span></a>
            <span class="col-md-10">facebook.com/zielinskiwt</span>
        </div>
        <div>
            <a class="col-md-2" href="https://www.linkedin.com/in/zielinskiwt" target="_blank" style="text-decoration:none;"><span color:#0783B6;"><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="15" style="vertical-align:middle;" border="0">&nbsp;LinkedIn</span></a>
            <span class="col-md-10">linkedin.com/in/zielinskiwt</span>
        </div>
    </div>
    <div class="container col-xs-12">
        <h2>About Me</h2>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis tincidunt leo eu semper. Nullam ac sodales justo.
            Proin suscipit sed elit vitae mattis. Vestibulum lobortis est nisl, ac viverra leo congue sed. Vivamus tempor, est ac ultrices
            vehicula, lacus velit maximus dolor, vel faucibus eros ante ac nulla. Etiam a felis erat. Vestibulum id urna eget eros vehicula
            aliquet. Sed dignissim id odio a pharetra. Integer non turpis id metus congue tincidunt nec vitae risus. Proin id pellentesque libero.
            Integer varius orci orci, eget molestie erat pulvinar ut. Suspendisse laoreet in turpis a commodo. Mauris elementum turpis in bibendum elementum.
            Aenean mollis dictum nisl, nec venenatis ipsum dapibus laoreet. Curabitur ac lectus metus.
        </div>
    </div>
</div>