<div class="container">
    <h2>My work</h2>
    <div class="container">
        <div class="row">
            <div ng-repeat="project in projects" class="container well">
                <h3>{{project.title}}</h3>
                <img ng-src="{{project.images.main}}" alt="{{project.title}}" class="col-md-4 col-xs-12" style="padding-left:0" />
                <div class="col-md-8 col-xs-12" style="padding-left:0">
                    <div>{{project.description}}</div>
                    <div><a href="{{project.path}}">See more...</a></div>
                </div>
            </div>
        </div>
    </div>
</div>