<div class="container well">
    <h2>{{project.title}}</h2>
    <div id="slides_control" class="col-md-5">
        <uib-carousel interval="carousel.interval">
            <uib-slide ng-repeat="slide in carousel.slides">
                <img ng-src="{{slide}}">
            </uib-slide>
        </uib-carousel>
    </div>

    <div class="col-md-7">
        <div>{{project.description}}</div>
        <div ng-show="project.githubLink !== null" style="margin-top:10px">
            <a href="{{project.githubLink}}" target="_blank">
                <img src="https://github.com/favicon.ico" />
                Check out the repository on github.
            </a>
        </div>

    </div>

</div>