<div class="container-fluid">
    <div class="row panel-heading">
        <div class="col-md-6">
            <button type="button" class="btn btn-default" ng-click="extendAll()">Extend all</button>
            <button type="button" class="btn btn-default" ng-click="collapseAll()">Collapse all</button>
            <button type="button" class="btn btn-default" ng-click="showChartMain = !showChartMain" ng-show="allClasses.length > 0">
                <span ng-hide="showChartMain">Show all grades summary chart</span>
                <span ng-show="showChartMain">Hide all grades summary chart</span>
            </button>
        </div>
        <div class="col-md-6">
            <input class="form-control" ng-model="filterValue" placeholder="Filter" />
        </div>
    </div>
    <div uib-collapse="!showChartMain">
        <class-summary classes="allClasses"></class-summary>
    </div>
    <uib-accordion close-others="false">
        <uib-accordion-group ng-repeat="semester in school.semesters"  heading="{{getSemesterHeading(semester)}}"
                         is-open="showAccordion[$index]" class="row">
            <div ng-repeat="class in semester.classes | filter:filterValue" class="container">
                <div class="col-md-6 col-xs-10">{{class.name}}</div>
                <div class="col-md-1 col-xs-2">{{class.grade}}</div>
                <div class="col-md-5 hidden-sm hidden-xs">{{class.lecturer.title}} {{class.lecturer.name}}</div>
            </div>
            <hr />
            <div ng-if="isSemesterGraded(semester)">
                <button class="btn btn-default center-block" ng-click="showChart[$index] = !showChart[$index]">
                    <span ng-hide="showChart[$index]">Show grades summary chart</span>
                    <span ng-show="showChart[$index]">Hide grades summary chart</span>
                </button>
                <div uib-collapse="!showChart[$index]">
                    <class-summary classes="semester.classes"></class-summary>
                </div>
            </div>
        </uib-accordion-group>
    </uib-accordion>
</div>